h2 {
  font: var(--font-l);
  color: var(--yellow);
}

h3 {

  font: var(--font-star) !important;
  color: var(--yellow);
  text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.349);
  text-align: center;
}

.bg-star {

  background-color: rgba(207, 199, 168, 0.24);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0px .5px 5px rgba(0, 0, 0, 0.247);
  outline: 1px solid rgba(0, 0, 0, 0.123);

  background-image: url('https://images.pexels.com/photos/6501742/pexels-photo-6501742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-blend-mode: overlay;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.skills-icons {
  background-color: rgba(255, 255, 255, 0.123);
  outline: 1px solid var(--yellow);
  border-radius: .5rem;
  padding: 1rem;

}

.scroll-text {

  font: var(--font-regular);
  color: var(--yellow);
  text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.349);
  text-align: center;
  opacity: 0;

  transform: translateY(20px);
  transition: opacity 5s ease-in-out, transform 0.5s ease-in-out;
}

/* Animação de entrada do texto */
@keyframes subtleScrollEffect {
  from {

    opacity: 0;
    transform: translateY(50px);
  }

  to {

    opacity: 1;
    transform: translateY(0px);
  }
}