.text-muted {
  font: var(--font-regular);
  color: var(--text-color) !important;

}

.work-icon {
  width: 280px;
  height: 160px;
  object-fit: cover;
  border-radius: .5rem;
  outline: 1px solid var(--yellow);
}


.hover-grow {
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.1);
  /* Aumente ou diminua o valor para ajustar o crescimento */
}
