
:root {
  --light-yellow: #FBF8CC;
  --text-color: #744f78;
  --dark-brown: #474306;
  --yellow: #F5EE84;
  --bg-color: #faf6d0;

  --font-regular: 400 1rem/150% "Poppins", sans-serif;
  --font-md: 400 1.75rem/150% "Poppins", sans-serif;
  --semi-bold: 700 1.5rem /150% "Poppins", sans-serif;
  --font-xl: 800 4rem/100%  "Poppins", sans-serif;

 
}

html {
  font-family: var(--font-regular);
  margin: 1.6rem;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}