.logo {
  font: var(--semi-bold);
  cursor: default;
  text-decoration: none;

}

/* Customizando a cor dos links do menu */
.nav-link {
  color: var(--text-color)!important;
  font: var(--font-regular);
  padding-inline: 1rem;
  transition: text-shadow 0.3s ease;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: var(--text-purple) !important;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.802);
}

/* Personalizando ícones sociais */
.d-flex a {
  color: var(--text-color);
}

.fa-brands {
  transition: text-shadow 0.3s ease;
  transition: color 0.3s ease;
}

.fa-brands:hover {
  color: var(--text-purple) !important;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.802);
}