/* Elementos base */
p {
  font: var(--font-md);
  color: var(--text-color);
}

h1 {
  font: var(--font-xl);
  color: var(--text-color);
}

.profile {
  border-radius: 50%;
}

/* Botões e container do botão */
.button-container {
  position: relative;
  display: inline-block;
  width: 10.25rem;
  height: 4.25rem;
}

.button,
.button-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
}

.button {
  opacity: 1;
}

.button-hover {
  opacity: 0;
}

.button-container:hover .button {
  opacity: 0;
}

.button-container:hover .button-hover {
  opacity: 1;
}

.avatarColumn {
  overflow-x: hidden;
}


/* Media queries para telas menores */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}


/* Animação do avatar entrando pela direita */
/* Animação ajustada */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}



@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-18%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(0)  scale(1);
  }
}


/* Classes de animação */
.slide-in-right {
  animation: slideInRight 2s ease-out forwards;
}

.slide-in-left {
  animation: slideInLeft 2s ease-out forwards;
}