p {
font: var(--font-md);
color: var(--dark-blue);
}

h1 {
  font: var(--font-xl);
  color: var(--dark-blue);
}

.button-container {
  position: relative;
  display: inline-block;
  width: 10.25rem; 
  height: 4.25rem;
  
}

.button,
.button-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
}

.button {
  opacity: 1;
}

.button-hover {
  opacity: 0;
}

.button-container:hover .button {
  opacity: 0;
}

.button-container:hover .button-hover {
  opacity: 1;
}

.avatar {
  padding-right: 2.5rem;
  position: relative;
  max-width: 100%;
  height: auto;
}

.avatar-container {
  width: 100%;
  max-width: 30rem; /* Limita a largura máxima para telas maiores */
  height: auto;
}

.profile {
  width: 100%;
  height: auto;
  display: block;
}

.contour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translate(-3%, 2%);
}

.cross {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(800%, 5%);
}

.retangles {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4%, 1300%);
}

.container-1 {
  width: 100%;
  max-width: 30rem;
  height: auto;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
h1 {
  font-size: 3rem;
}
  .avatar {
    margin-top: 2rem; 
    height: auto;
    
  }
  .contour {
    transform: translate(-1%, 2%);
  }

  .cross {
    max-width: 2rem;
    transform: translate(750%, 15%);
  }

  .retangles {
    max-width: 4rem;
    transform: translate(10%, 1400%);
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  .avatar {
    margin-top: 2rem; 
    max-width: 20rem;
    height: auto;
    left: 1rem;
  }
  .contour {
    transform: translate(-1%, 3%);
  }

  .cross {
    transform: translate(750%, 5%);
  }

  .retangles {
    
    transform: translate(1%, 1300%);
  }
}

/* Animação do avatar entrando pela direita */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%); /* Começa fora da tela à direita */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Finaliza na posição original */
  }
}

/* Animação do texto entrando pela esquerda */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%); /* Começa fora da tela à esquerda */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Finaliza na posição original */
  }
}

/* Classes de animação */
.slide-in-right {
  animation: slideInRight 1.5s ease-out forwards; 
}

.slide-in-left {
  animation: slideInLeft 1.5s ease-out forwards;
}
